<!doctype html>
<html lang="en">

<div class="container-fluid p-3">
    <div class="row text-center">
        <div class="col-12">
            <h2>Short links, big results</h2>
        </div>
    </div>
</div>
<style>
    body {
      background-color: #4385f51c;
    }
  </style>